header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 19;
    color: yellow;
    background-color: gray;
    padding: 12px;
}

body {
    background-color:goldenrod;
}

section {
    margin: 20px auto;
    padding: 10px;
    background-color: gray;
    border-radius: 20px;
    box-shadow: 0 0 10px yellow;
    border: 13px;
    border-color: black;
    margin-bottom: 0.5em;

}

footer {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: black;
    text-align: center;
}

button {
    background-color: yellow;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-variant: small-caps;
    font-size: small;
    animation: mover 2s infinite;
}

button:hover {
    color:black;
    background-color: whitesmoke;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}


.item   {
    color:white;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    border-radius: 0,5em;
    border-color: black;
    padding: 10px;
    line-height: 10px;
       
   
}

input:valid{
    border-color: green;
}

input:invalid{
    border-color: red;
}

@keyframes mover {
    0% {transform: translatey(0);}
    50% {transform: translatey(100);}
    100% {transform: translatey(0);}
}

#image-section img {
    max-width: 100%;
    height: auto;
    margin: 0px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid aquamarine;

}

aside {
    background-color: whitesmoke;
    border-radius: 8px;
    border: 1px solid grey;
    box-shadow: 0 0 10px white;
    padding: 20px;
    flex: 1;
}

.main-content {
    display: flex;
    gap: 10px;
    justify-content: center;
    ;
}

.content {
    flex: 2;

}